@using Core.ViewModels.Review

@if (ViewBag.UserId != null)
{
    <div id="partial">
        @if (ViewBag.UserReview != null)
        {
            <div id="commentDiv">
                <p id="comment">@ViewBag.UserReview.Comment</p>
                <p>@ViewBag.UserReview.Value</p>
                <button id="edit">Edit</button>
                <button id="delete">Delete</button>
                <p id="review-id" hidden>@ViewBag.UserReview.Id</p>
            </div>
        }
        else
        {
            @*<form asp-action="CreateReview">*@
            @*<select name="Value">
                @for (var i = 1; i < 6; i++)
                {
                <option value=@i>@i</option>
                }
                </select>
                <input type="text" name="Comment" />
                <input hidden name="UserId" value=@ViewBag.UserId />
                <input hidden name="BookId" value=@Model.Id />
                <button type="submit">Submit</button>
            *@
            <div class="col" style="background-color: #212529; margin-top: 4rem">
                <div class="row align-middle">
                    <div class="col">
                        <h2 style="padding: 1rem; color: white">Review:</h2>
                    </div>
                    <input hidden name="UserId" value=@ViewBag.UserId />
                    <input hidden name="BookId" value=@Model.Id />
                    <input hidden name="Comment" />
                    <div class="col ">
                        @for (int i = 0; i < 5; i++)
                        {
                            <i class="bi bi-star-fill" style="font-size: 2rem; color:white;"></i>
                        }
                    </div>
                </div>
            </div>
            <div>
                <textarea class="form-control"
                  rows="6"
                  style="border-color: #f15a24"></textarea>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <button id="submit-review" class="btn navbutton"
                    style="margin-top: 1rem">
                        Submit
                    </button>
                </div>
            </div>
            @*</form>*@
        }
    </div>

}

<script type="text/javascript">
    let submitReviewElement=document.querySelector('#submit-review');

    submitReviewElement.addEventListener('click', ()=>{
        let textAreaElement=document.querySelector('textarea');
        let userIdElement=document.querySelector('input[name="UserId"]');
        let bookIdElement=document.querySelector('input[name="BookId"]');

        let UserId=userIdElement.value;
        let BookId=bookIdElement.value;
        let Comment=textAreaElement.value;
        let Value=4;

        console.log(Comment);

        $.ajax({
                type: "POST",
                url: "@Url.Action("CreateReview")",
                data: {model: {
                    Value, Comment, BookId, UserId}}
            })
    })

    let editButtonElement=document.querySelector('#edit');
    let deleteButtonElement=document.querySelector('#delete');
    let divElement=document.querySelector('#partial');

    deleteButtonElement.addEventListener('click', ()=>{
        let id=document.querySelector('#review-id')
            .textContent;
        let commentDivElement=document.querySelector('#commentDiv');
        commentDivElement.remove();

        CreateReviewForm();

        $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteReview")",
                data: {id}
            })
    })

    editButtonElement.addEventListener('click', ()=>{

        let commentDivElement=document.querySelector('#commentDiv');
        let text=commentDivElement.querySelector('#comment')
            .textContent;

        CreateReviewForm(text);
        //let formElement=document.createElement('form');
        //let selectElement=document.createElement('select');

        //for(var i=1; i<6;i++){
        //    let optionElement=document.createElement('option');
        //    optionElement.value=i;
        //    optionElement.textContent=i;
        //    selectElement.appendChild(optionElement);
        //}

        //let commentInputElement=document.createElement('input');
        //commentInputElement.name='Value';
        //commentInputElement.type='text';

        //let bookIdInputElement=document.createElement('input')
        //bookIdInputElement.hidden='true';
        //bookIdInputElement.value='@Model.Id';
        //bookIdInputElement.name='BookId';

        //let userIdInputElement=document.createElement('input')
        //userIdInputElement.hidden='true';
        //userIdInputElement.name='UserId';
        //userIdInputElement.value='@ViewBag.UserId';

        //let submitElement=document.createElement('button');
        //submitElement.type='submit';
        //submitElement.textContent='Submit';

        //formElement.appendChild(selectElement);
        //formElement.appendChild(commentInputElement);
        //formElement.appendChild(bookIdInputElement);
        //formElement.appendChild(userIdInputElement);
        //formElement.appendChild(submitElement);
        //divElement.appendChild(formElement);

        //submitElement.addEventListener('click', (e)=>{
        //    e.preventDefault();

        //    let Value=selectElement.value;
        //    let Comment=commentInputElement.value;
        //    let BookId=bookIdInputElement.value;
        //    let UserId=userIdInputElement.value;

        //    $.ajax({
        //        type: "POST",
        //        url: "@Url.Action("CreateReview")",
        //        data: {model: {
        //            Value, Comment, BookId, UserId}}
        //    })
        //})
    })

    function CreateReviewForm(text){
        let formElement=document.createElement('form');
        let selectElement=document.createElement('select');

        for(var i=1; i<6;i++){
            let optionElement=document.createElement('option');
            optionElement.value=i;
            optionElement.textContent=i;
            selectElement.appendChild(optionElement);
        }

        let commentInputElement=document.createElement('input');
        commentInputElement.name='Value';
        commentInputElement.type='text';

        if(text){
            commentInputElement.value=text;
        }

        let bookIdInputElement=document.createElement('input')
        bookIdInputElement.hidden='true';
        bookIdInputElement.value='@Model.Id';
        bookIdInputElement.name='BookId';
        //<input hidden name="UserId" value=@ViewBag.UserId />
        let userIdInputElement=document.createElement('input')
        userIdInputElement.hidden='true';
        userIdInputElement.name='UserId';
        userIdInputElement.value='@ViewBag.UserId';

        let submitElement=document.createElement('button');
        submitElement.type='submit';
        submitElement.textContent='Submit';

        formElement.appendChild(selectElement);
        formElement.appendChild(commentInputElement);
        formElement.appendChild(bookIdInputElement);
        formElement.appendChild(userIdInputElement);
        formElement.appendChild(submitElement);
        divElement.appendChild(formElement);

        submitElement.addEventListener('click', (e)=>{
            e.preventDefault();

            let Value=selectElement.value;
            let Comment=commentInputElement.value;
            let BookId=bookIdInputElement.value;
            let UserId=userIdInputElement.value;

            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateReview")",
                data: {model: {
                    Value, Comment, BookId, UserId}}
            })
        })
    }

</script>