@using Core.ViewModels.Book
@model BookDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cover)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
    <p>@string.Join(", ", Model.Genres)</p>
</div>
<div id="book-id" hidden>@Model.Id</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<a asp-action="Read"
   asp-controller="Book"
   asp-route-id=@Model.Id
   asp-route-FileName="Book.pdf" class="btn btn-primary" id="btnOpenDocument">
    <i class="fa fa-receipt"></i> Read book
</a>

<partial name="_FavouriteBookPartial" />

@section Scripts
{
    <script>
        $('#btnOpenDocument').click(function (e) {
            e.preventDefault();
            window.open('@Url.Action("Read"
                             ,"Book"
                             ,new {id=@Model.Id
                                  ,fileName="MailingLabel.pdf" })'
                        ,"_blank");
        });
    </script>
}